@model Intranet.Web.Domain.Models.Entities.Category

@{
    ViewData["Title"] = "Details";
    var from = ViewData["from"] ?? String.Empty;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Category</h4>
    <table class="striped col s12 responsive-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Faq's</th>
                <th>Policies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Title)</td>
                <td>@(Model.Faqs?.Any() == true ? Model.Faqs.Count : 0)</td>
                <td>@(Model.Policies?.Any() == true ? Model.Policies.Count : 0)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-from="@from">Edit</a> |
    <a asp-action="Index" asp-route-from="@from">Back to List</a>
</div>
