@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
    var from = ViewData["from"] ?? String.Empty;
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn" asp-action="Create">Create New</a>
</p>
<div class="row">
    <table class="striped col s12 responsive-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Can be deleted?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => category.Title)</td>
                    <td>@(category.Faqs?.Any() == true || category.Policies?.Any() == true ? "No" : "Yes")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.Id" asp-route-from="@from">Edit</a> |
                        <a asp-action="Details" asp-route-id="@category.Id" asp-route-from="@from">Details</a> |
                        <a asp-action="Delete" asp-route-id="@category.Id" asp-route-from="@from">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if ((string)ViewData["from"] == nameof(Faq))
    {
        <a asp-controller="Faqs" asp-action="Index">Back to Faq's</a>
    }
    else if ((string)ViewData["from"] == nameof(Policy))
    {
        <a asp-controller="Policies" asp-action="Index">Back to Policies</a>
    }
</div>