@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <table class="striped col s12 responsive-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Can be deleted?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => category.Title)</td>
                    <td>@(category.Faqs.Any() ? "No" : "Yes")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@category.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Faqs" asp-action="Index">Back to Faq's</a>
</div>