@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intranet.Web</title>

    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
    </environment>
    <!--Import Roboto Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="~/assets/css/materialize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav>
        @await Html.PartialAsync("_Navigation")
    </nav>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer">
        @Html.Partial("_Footer")
    </footer>

    @Html.Partial("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
