@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Certaincy Intranet</title>

    @Html.Partial("_Styles")
    @RenderSection("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <nav>
        @await Html.PartialAsync("Navigation/_Navigation")
    </nav>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer">
        @Html.Partial("_Footer")
    </footer>
    @Html.Partial("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
