@model FaqViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<div>
    <hr />
    <div class="row">
        <h3>
            @Model.Category.Title
        </h3>
        <ul class="collapsible">
            <li id="@Html.DisplayFor(modelItem => modelItem.Url)">
                <div class="collapsible-header valign-wrapper active">
                    <i class="material-icons">question_answer</i>
                    <span>
                        @Html.DisplayFor(modelItem => modelItem.Question)
                    </span>
                </div>
                <div class="collapsible-body">
                    <span>
                        @Html.Raw(Model.Answer)
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
